@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin:auto;
    background-image:linear-gradient(45deg, #a68c769f, #736253a1);
    text-align: center;
    
}
/* main content */
main {
    box-shadow: 5px 5px 10px grey;
    max-width: 650px;
    min-width: 320px;
    height: 1230px;
    margin: 50px auto;
    border-radius: 30px;
    transition:transform 1s ease;
    background-image: linear-gradient( 45deg, #d9c589ce, #F2F2F2);
     
}
main:hover {
    transition-duration: 1s;
    transform: scale(1.05);
   
    
}
/* imagem */
img {
    transition:transform 2s ease;
    border-radius: 15px;
}
img:hover {
    transition-duration: 1s;
    transform: scale(1.2);
}
div {
    width: 600px;
    box-shadow: 5px 5px 10px rgb(87, 84, 84);
    
}
img {
    margin: 20px 0px;
}
/*titulo e subtitulos */
.titulo-1{
    border-top: 5px solid rgba(87, 85, 85, 0.747);
    border-bottom: 5px solid rgba(87, 85, 85, 0.699);
    
    margin:auto;
    padding: 8px 0px;

   font-size: 25px;
   color: rgb(90, 86, 86);
   width: 450px;
   background-image: linear-gradient(to right, rgba(128, 128, 128, 0.527), transparent);
   transition: transform 1s ease;
   
}

.titulo-1:hover {
    
    
    text-align: center;
    transition-duration: 1s;
    transform: scale(1.1);
}
iframe {
    box-shadow: 5px 5px 10px grey;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
  
    

}

.subtitulo-1 {
    margin: 20px auto;
    font-size: 14.5px;
    color: rgba(97, 93, 93, 0.856);
    text-align: center;
    width: 450px;
    line-height: 30px;
    
}

.subtitulo-2 {
    font-size:20px ;
    font-weight: normal;
    color: rgb(109, 105, 105);
    border-top: 3px solid grey;
    width: 400px;
    margin: 15px auto;
    border-bottom: 3px solid grey;
    padding: 8px 20px;
    transition:transform 1.2s ease;
    text-align: center;
}
.subtitulo-2:hover {
    transition-duration: 1.02s;
    transform: scale(1.05);
    text-align: center;
}


/* texto p  */
main > p {
line-height: 30px;
margin:auto;
margin-top: 30px;
margin-bottom: 30px;
text-align: center;
color: rgb(70, 69, 69);
width: 450px;

}
span {
    font-weight: bold;
    text-align: center;
   
}
span:hover {
    text-decoration: underline;
    cursor: pointer;

}

a {
    font-weight: bold;
    color: white;
    background-color:rgb(52, 150, 52) ;
    text-decoration: none;
    border-radius: 15px;
    padding: 7px;
    
}
a:active {
    color: rgb(255, 255, 255);
    background-color: green;
}

/* rodapé */

footer {
    background-color: rgba(73, 22, 22, 0.705);
    font-size: 12px;
    font-weight: bold;
    color: white;
}

@media screen and (min-width: 320px) and (max-width:750px){
    body {
        margin:auto;
        background-image:linear-gradient(45deg, #a68c769f, #736253a1);
        text-align: center;
        
    }
    /* main content */
    main {
        position: relative ;
        top: 0;
        box-shadow: 5px 5px 10px grey;
        max-width: 650px;
        min-width: 320px;
        height: 1230px;
        margin: 50px auto;
        border-radius: 30px;
        transition:transform 1s ease;
        background-image: linear-gradient( 45deg, #d9c589ce, #F2F2F2);
         
    }
    main:hover {
        transition-duration: 1s;
        transform: scale(1);
       
        
    }
    /* imagem */
    img {
        transition:transform 2s ease;
        border-radius: 15px;
    }
    img:hover {
        transition-duration: 1s;
        transform: scale(1.2);
    }
    div {
        width: 600px;
        box-shadow: 5px 5px 10px rgb(87, 84, 84);
        
    }
    img {
        margin: 20px 0px;
    }
    /*titulo e subtitulos */
    .titulo-1{
        border-top: 5px solid rgba(87, 85, 85, 0.747);
        border-bottom: 5px solid rgba(87, 85, 85, 0.699);
        
        margin:auto;
        padding: 8px 0px;
    
       font-size: 25px;
       color: rgb(90, 86, 86);
       width: 450px;
       background-image: linear-gradient(to right, rgba(128, 128, 128, 0.527), transparent);
       transition: transform 1s ease;
       
    }
    
    .titulo-1:hover {
        
        
        text-align: center;
        transition-duration: 1s;
        transform: scale(1.1);
    }
    iframe {
        box-shadow: 5px 5px 10px grey;
        margin:auto;
        margin-top: 30px;
        margin-bottom: 10px;
        border-radius: 10px;
      
        
    
    }
    
    .subtitulo-1 {
        margin: 20px auto;
        font-size: 14.5px;
        color: rgba(97, 93, 93, 0.856);
        text-align: center;
        width: 450px;
        line-height: 30px;
        
    }
    
    .subtitulo-2 {
        font-size:20px ;
        font-weight: normal;
        color: rgb(109, 105, 105);
        border-top: 3px solid grey;
        width: 400px;
        margin: 15px auto;
        border-bottom: 3px solid grey;
        padding: 8px 20px;
        transition:transform 1.2s ease;
        text-align: center;
    }
    .subtitulo-2:hover {
        transition-duration: 1.02s;
        transform: scale(1.05);
        text-align: center;
    }
    
    
    /* texto p  */
    main > p {
    line-height: 30px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(70, 69, 69);
    width: 450px;
    
    }
    span {
        font-weight: bold;
        text-align: center;
       
    }
    span:hover {
        text-decoration: underline;
        cursor: pointer;
    
    }
    
    a {
        font-weight: bold;
        color: white;
        background-color:rgb(52, 150, 52) ;
        text-decoration: none;
        border-radius: 15px;
        padding: 7px;
        
    }
    a:active {
        color: rgb(255, 255, 255);
        background-color: green;
    }
    
    /* rodapé */
    
    footer {
        background-color: rgba(73, 22, 22, 0.705);
        font-size: 12px;
        font-weight: bold;
        color: white;
    }
    
}